@charset "utf-8";

/**
 * page: 擦除页面
 */
 %container {
  position: absolute; 
  left: 0; 
  top: 0; 
  bottom: 0; 
  right: 0; 
  overflow: hidden;
  width: 100%;
  height: 100%;
 }
.m-eraser{
  @extend %container; 
  background: url(#{base(images-url)}destination.jpg) 0 0 no-repeat; 
  background-size: 100% 100%;
  z-index: 0;
}
.m-contact {
  @extend %container; 
  z-index: 1;
}
.cas { 
  @extend %container;
  z-index: 5;
}
.invisible { opacity: .7; }
.transparent{ 
  opacity: 0 !important;
  -webkit-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -moz-transition: opacity 1s;
}
.contact-list {
  margin: .3rem .2rem;
  text-align: left;
  font-size: .16rem;
  line-height: 1.5;
  color: #fff;
  strong {
    display: inline-block;
    width: 30%;
    text-align: right;
    margin-right: .1rem;
  }
}
.btn-more {
  @extend .btn;
  margin: 0 .5rem;
  line-height: 1;
  background-color: rgba(255,255,255,.5);
  color: #333;
}